.gallery-image {
  width: 360px;
  height: 200px;
  cursor: url(./cursor.png), pointer;
}

.gallery-item {
  list-style-type: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1300px;
  padding: 0;
  gap: 24px;
}

body {
  height: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
